<div>
  <h1 class="sample-content">Your Content Here</h1>

  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <hr>

  <div>
    <h4>Local State</h4>

    <form (ngSubmit)="submitState()" autocomplete="off">

      <input
        name="valueInput"
        [(ngModel)]="value"
        placeholder="Submit Local State to App State"
        autofocus>

      <button>Submit Value</button>
    </form>

    <pre>this.localState = {{value}}</pre>

  </div>

</div>
